<div class="page-sidebar" data-pages="sidebar">
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- BEGIN SIDEBAR HEADER -->
    <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="38">
        <div class="sidebar-header-controls">
            <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR HEADER -->
    <!-- BEGIN SIDEBAR MENU -->
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30 open active">
                <a href="#" class="detailed">
                    <span class="title">Function</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-th-large"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="#">Lower the price</a>
                    </li>
                </ul>
            </li>
            <li class="open active">
                <a href="#">
                    <span class="title">Managment</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-gear"></i></span>
                <ul class="sub-menu">
                    <li class="active">
                        <a href="#">Shopper Managment</a>
                    </li>
                    <li>
                        <a href="#">Product Managment</a>
                    </li>
                    <li>
                        <a href="#">Coupon Managment</a>
                    </li>
                    <li>
                        <a href="#">Sponsor Managment</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</div>